@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Righteous', cursive;
    background-color: #0e0b0d;
    color: white;
}

main {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
}

.wip {
    padding: 20px 0;
    width: clamp(20vw, 320px, 40vw);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.links {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

a {
    color: inherit;
}