@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes fadeRot {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(20vh);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', cursive;
    background-color: #0e0b0d;
    color: white;
}

main {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
}

.wip {
    padding: 20px 0;
    width: clamp(20vw, 320px, 40vw);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.links {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

a {
    color: inherit;
    animation: fromBottom 1s cubic-bezier(.33,.09,.32,1.24) forwards;
    opacity: 0;
}

a:nth-child(2) {
    animation-delay: 0.2s;
}

a:nth-child(3) {
    animation-delay: 0.4s;
}


img {
    animation: fadeRot 1s ease-in-out;
}