:root {
  --text-color: #FFFFFF;
  --text-color-secondary: #DCDDEA;

  --header-background-color: #2B3448;
  --header-background-color-secondary: #303A4F;

  --discord-lighter-color: #363D4E;
  --discord-darker-color: #191C2B;
  --discord-ping-color: #3B406F;

  --main-background-color: #222635;
  --button-color: #1475C3;
  --button-shadow-color: #0d5894;
}
