:root {
  --text-color: #FFFFFF;
  --text-color-secondary: #DCDDEA;

  --header-background-color: #2B3448;
  --header-background-color-secondary: #303A4F;

  --main-background-color: #222635;
  --button-color: #1475C3;
}
