:root {
  --text-color: #000000;
  --text-color-secondary: #242424;

  --header-background-color: #FFFFFF;
  --main-background-color: #FFFFFF;

  --button-color: #4EA7EE;
  --button-shadow-color: #3884c1
}
